<table>
    <tr>
        <td>
            <p>Itzel Mendez Martinez</p>
            <p>Lic. Ingenieria de Software</p>
            <p>Universidad Veracruzana</p>
        </td>
        <td>
            <img src="../assets/proceso_imagen.jpg" width="100" height="100">
        </td>
        <td>
            <ul>
               <li>mmitzel2435@gmail.com</li>
               <li>2711935445</li>
               <li>Orizaba, Veracruz</li>
               <li>@Itzelll</li>
            </ul>
        </td>
    </tr>
</table>

