<table>
    <tr>
        <td>
            <h3>Itzel Mendez Martinez    </h3>
            <p> Ingenieria de Software   </p>
            <p> Universidad Veracruzana  </p>
            <p> <img src="../assets/uv.png" width="25" height="30"> </p>
        </td>
        <td>
            <img src="../assets/cv.jpeg" width="100" height="100">
        </td>
        <td>
            <ul style="color:rgb(12, 12, 194); font-size:14px;">
               <p><img src="../assets/correo.png" width="18" height="18"> mmitzel2435@gmail.com</p>
               <p><img src="../assets/telefono.png" width="18" height="18"> 2711935445</p>
               <p><img src="../assets/lugar.png" width="18" height="18"> Orizaba, Veracruz</p>
               <p><img src="../assets/usuario.png" width="18" height="18"> @Itzelll</p>
            </ul>
        </td>
    </tr>
</table>

