<h3> Habilidades y competencias </h3>

<p>
    <label for = "t"> Trabajador y observador: </label>
    <progress id = "t" max="100" value="95"> </progress> 95%
</p>

<p>
    <label for = "t"> Liderazgo: &nbsp; &nbsp; &nbsp; &nbsp; </label>
    <progress id = "t" max="100" value="90"> </progress> 90%
</p>

<p>
    <label for = "t"> Toma de decisiones: </label>
    <progress id = "t" max="100" value="80"> </progress> 80%
</p>

<p>
    <label for = "t"> Resolucion de problemas: </label>
    <progress id = "t" max="100" value="85"> </progress> 85%
</p>

<p>
    <label for = "t"> Capacidad de adaptacion: </label>
    <progress id = "t" max="100" value="70"> </progress> 70%
</p>

<p>
    <label for = "t"> Organizacion: &nbsp; &nbsp; &nbsp; &nbsp; </label>
    <progress id = "t" max="100" value="85"> </progress> 85%
</p>