
<table border="1">
  
  <tr>
    <td colspan="2">
      <body style="background-color:rgba(158, 216, 158, 0.26);">
        <app-header> </app-header>
      </body>
      <!-- header here... -->
    </td>
  </tr>

  <tr>
    <body style="background-color:rgba(170, 172, 196, 0.26);">
    <td>
        <app-work-experience> </app-work-experience>
      <!-- work experience here... -->
    </td>
  </body>

    <td>
      <body style= "background-color:rgba(86, 87, 100, 0.26);">
        <app-educacion> </app-educacion>
      </body>
    </td>

  </tr>

</table>


<!-- <h3> Itzel Mendez Martinez </h3> -->